*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign_in{
  margin-top: 231px;
}
.Create_account{
    text-align: center;
    font-weight: bold;
    font-size:30px;
    word-spacing:5px;
    margin-top: 100px;
}
.signup-container {
  margin:30px 0px;
  display: flex;
  justify-content: center;
  align-items: center
}

.signup-form {
  width: 550px;
  background: #fff;
  border-radius: 10px;
}

.signup-form label {
  display: block;
  margin-bottom: 6px;
  font-size:17px;
}

.signup-form input {
  width: 100%;
  padding:15px 15px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 17px;
}

.signup-form input:focus {
  border-color: #999;
}

.login_account{
  text-decoration: underline;
  cursor: pointer;
  font-size: 17px;
  width: 10%;
  display: block;
  margin: auto;
}