*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parents{
    margin:0px 60px;
}

.Description{
    text-align: start;
    margin-top:150px;
    font-size:32px;
    font-weight: bold;
}

.pragraph{
    font-size:17px;
    line-height:23px;
    color:#272625;
    margin:20px 0px;
}

.Features{
    font-weight: bold;
     font-size:17px;
}
/*  */

.card {
      padding:30px 0px;
    }

    .card1 {
      padding:30px 0px;
    }
    .card ul {
      list-style-type: disc; 
      padding-left: 20px;
    }

    
    .card1 ul {
      list-style-type: disc; 
      padding-left: 20px;
    }
    .card li {
      margin-bottom:10px;
      line-height: 1.5;
    }

      .card1 li {
      margin-bottom:10px;
      line-height: 1.5;
    }

    .card strong {
      color: #222;
    }

     .card1 strong {
      color: #222;
    }

/*  */

.prents1{
  display: flex;
  justify-content:center;
  gap: 200px;
  margin: 0px 100px;
}
.product-container1{
  margin-top:230px;
}
.imgdiv>img{
  width:540px;
  height:540px;
  object-fit:fill;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.price-section{
  display: flex;
  justify-content:start;
  margin:20px 0px;
  align-items: center;
  gap: 20px;
}
.product-info{
  max-width:500px;
}

.title1{
  font-size:32px;
  font-weight:700;
  margin-bottom:15px;
}

.details-row{
  display:flex;
  gap:10px;
  color:gray;
  margin-bottom:15px;
  flex-wrap:wrap;
}


.discount{
  background:red;
  color:white;
  padding:8px 8px !important;
  width:70px;
  height:30px;
  border-radius:4px;
  font-size:12px !important;
  font-weight:600;
}

.price-row>span>strong{
  display:flex;
  align-items:center;
  /* gap:15px;
  margin-top:10px; */
}

.new-price1{
  color:#e63946;
  text-decoration: none;
  font-size:28px !important;
  font-weight:500;
}

.old-price{
  color:gray;
  text-decoration:line-through;
   padding: 0px 15px !important;
  font-size:24px;
}

.tax-text{
  color:gray;
  margin-top:10px;
}

.size-section{
  margin-top:25px;
}

.size-title{
  margin-bottom:15px;
  font-size:18px;
}

.size-boxes{
  display:flex;
  gap:12px;
}

.size-boxes button{
  width:50px;
  height:50px;
  border-radius:50%;
  border:1px solid #ccc;
  background:white;
  cursor:pointer;
  font-size:16px;
}

.active-size{
  background:black !important;
  color:white;
}

.color-section{
  margin-top:25px;
}

.color-circle{
  width:40px;
  height:40px;
  border-radius:50%;
  background:tan;
  border:2px solid black;
  margin-top:10px;
}

.cart-section{
  display:flex;
  gap:20px;
  margin-top:30px;
  align-items:center;
}

.quantity-box{
  display:flex;
  align-items:center;
  gap:20px;
  border:1px solid #ccc;
  padding:0px 25px;
  height:50px;
  border-radius:20px;
}

.quantity-box button{
  border:none;
  background:none;
  font-size:24px;
  cursor:pointer;
}

.cart-btn{
  flex:1;
  background:#ff1230;
  color:white;
  border:none;
  padding:15px 0px;
  width:330px !important;
  border-radius:30px;
  font-size:18px;
  font-weight:600;
  cursor:pointer;
}
.cart-btn:hover{
  background-color:black;
  color:#fff;
}
.buy-btn{
  width:100%;
  margin-top:25px;
  background:black;
  color:white;
  border:none;
  padding:18px 19px;
  border-radius:35px;
  font-size:15px;
  font-weight:700;
  cursor:pointer;
}

.buy-btn:hover{
  background-color:#ff1230;
  color:#fff;
}

/*  */

.you{
  font-size:28px;
  font-weight: bold;
}


/* ProductCard.css */
.scrollproduct-card{
  width: 370px;
  padding: 15px;
  border-radius: 10px;
}

.image-section{
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 8px;
}

.scrollproduct-img{
  width:340px;
  height:300px;

}

.scrollproduct-info{
  margin-top: 15px;
}

.titlescroll{
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 10px;
}

.price-row{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

/* .offerscroll{
  background: #d71920;
  color: white;
  font-size: 12px;
  border-radius: 4px;
} */

.new-pricescroll{
  color: #d71920;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}

.old-pricescroll{
  color: gray;
  text-decoration: line-through;
  font-size: 18px;
}
.scrolldiv{
  display: flex;
  overflow: scroll;
  margin: auto;
  width:100%;
  scrollbar-width: none;
  margin: 20px 0px;
}
