*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parents{
    margin: 30px 60px;
}

.Description{
    text-align: start;
    font-size:35px;
    font-weight: bold;
}

.pragraph{
    font-size:17px;
    line-height:23px;
    color:#272625;
    margin:20px 0px;
}

.Features{
    font-weight: bold;
     font-size:17px;
}
/*  */

.card {
      padding:30px 0px;
    }

    .card1 {
      padding:30px 0px;
    }
    .card ul {
      list-style-type: disc; /* 👉 ye dots ke liye */
      padding-left: 20px;
    }

    
    .card1 ul {
      list-style-type: disc; /* 👉 ye dots ke liye */
      padding-left: 20px;
    }
    .card li {
      margin-bottom:10px;
      line-height: 1.5;
    }

      .card1 li {
      margin-bottom:10px;
      line-height: 1.5;
    }

    .card strong {
      color: #222;
    }

     .card1 strong {
      color: #222;
    }