*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background_img{
    background: url("/Utilis/bacground_img.webp");
    background-size: cover;
    background-position: center;
    height:280px;
    border-radius:10px;
    margin:60px 30px;
    text-align: center;
    color: aliceblue;
}

.woman {
  font-size:50px !important;
  padding:100px 0px;
  color: white;
  font-weight: bold;

}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:50px;
  padding: 20px 80px;
}

.product-card {
  width: 100%;
  text-align: center;
}

.image-box {
  width: 100%;
}

.image-box img {
  width: 100%;  
  height: auto;  
  display: block;
}

.product-info {
  padding-top: 10px;
}

.title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 6px;
}

.new-price {
  color: #e53935;
  font-weight: bold;
  text-decoration: none;
  font-size:20px;
  text-align: center !important;

}


.filter_sort_div{
  display: flex;
  justify-content: space-between;
  margin: 15px 75px;
  align-items: center;
}

.filter{
  gap: 21px;
}

.filter,.filter_child1{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 11px 13px;
  text-transform: capitalize;
}

.filter>p{
  opacity: 0.7;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.filter_child1{
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
  gap: 11px;
  border: 1px solid #e5e5e5;
  border-radius: 21px;
}

.filter_child1:hover{   
  background-position: left bottom;
  color: #fff;
}

.filter>.filter_child1>i,.heart_list>i{
  -webkit-text-stroke: 1px currentColor;
}

.filter>.filter_child1>p{
  font-size: medium;
}

.sort{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}

.sort_list{
  max-width: 221px;
  width: auto;
}

.sort_list>select{
  cursor: pointer;
  font-size: 15px;
  padding: 15px 21px;
  padding-right: 51px;
  border-radius: 25px;
  border:1px solid #e5e5e5;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 25 25' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'><polyline points='6 9 13 15 19 9'/></svg>");
  background-repeat: no-repeat;
  background-position: right 11px center;
}

.sort_list>select>option{
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

/*  */

.footer {
  padding: 30px 80px;
  margin-top: 50px;
}

/* Top */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
span{
  font-size:18px !important;
  color: #828080;
  text-decoration: underline;
  padding: 20px 0px !important;
}
.top-item {
  display: flex;
  align-items: center;
  gap:20px;
}

.top-item i {
  font-size: 33px;
  border-left:2px solid rgb(139, 137, 137);
  padding-left:14px;
  height:50px;
}

.heading {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 6px;
}

/* Middle */
.footer-middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top:50px;
}

.footer-middle p {
  font-size:19px;
  margin:18px 0;
  color: #828080;
}

.about-text {
  line-height: 1.5;
}

.read-more {
  text-decoration: underline;
  cursor: pointer;
  font-size:19px !important;
  color: black;
  font-weight: bold;
}

/* Bottom */
.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.icons i {
  margin-left: 12px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.heading1{
  font-size:19px !important;
  font-weight: bold;
  color:black !important;
}
hr{
  margin-top: 50px;
}
.center{
  text-align: center;
  font-size:19px;
  word-spacing:4px;
  margin-bottom: 30px;
}