@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Navbar */

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 21;
  /* border-bottom: 1px solid; */
}

.navbar_div1{
  background-color: #c41d31;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 271px;
  padding: 15px 121px;
}

.navbar_child1{
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 31px;
  cursor: pointer;
}

.navbar_child2{
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: left;
  transition: all 0.25s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.navbar_div2{
  padding-top: 25px;
  padding-bottom: 11px;
  background: #fff;
}

.navbar_child3{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 131px;
  gap: 161px;
}


.navbar_child3>i{
  display: none;
}

.navbar_child4{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  /* padding-left: 200px; */
}

.navbar_child4>i,.search>i{
  -webkit-text-stroke: 1px currentColor;
  font-size: 23px;
  cursor: pointer;
}

.search{
  border: 2px solid #e5e5e5;
  padding: 7px 21px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.search>input{
  border: transparent;
}

.search>input::placeholder{
  font-size: medium;
}

.logo_img{
  height: 90%;
  scale: 0.8;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}

.navbar_child5{
  margin-top: 31px;
}

.navbar_category,.navbar_category>li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar_category>li{
  list-style: none;
  gap: 5px;
  align-items: baseline;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 15px;
}

.navbar_category>.hover-underline-animation::after{
  background-color: #000;
}

.navbar_category>li>i{
  -webkit-text-stroke: 1px currentColor;
  font-size: smaller;
}

/* Corusel */

.corusel {
  margin-top: 186px;
  position: relative;
  width: 100%;
  height: 631px;
  overflow: hidden;
}

.corusel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  will-change: transform;
}

/* Buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 11px;
  cursor: pointer;
  font-size: 41px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.home_page_img{
  width: 100%;
  margin: 25px 0;
}

/* Category Section */

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 85%;
  margin: 0 auto;
}

.category_1,
.category_2,
.category_3,
.category_4{
  width: 100%;
  height: 100%;
  padding: 11px 15px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.category_img1,
.category_img2,
.category_img3,
.category_img4{
  border-radius: 15px;
  width: 100%;
  height: 81%;
  overflow: hidden;
}

.category_img1>img,
.category_img2>img,
.category_img3>img,
.category_img4>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.category_1:hover .category_img1>img,
.category_2:hover .category_img2>img,
.category_3:hover .category_img3>img,
.category_4:hover .category_img4>img{
  scale: 1.03;
}

.category_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.category_text>i,.trending_arrow>i{
  border: 1px solid #e5e5e5;
  display: block;
  border-radius: 50%;
  padding: 5px 7.5px;
  object-fit: cover;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  -webkit-text-stroke: 1px currentColor;
}

.category_1:hover .category_text>i,
.category_2:hover .category_text>i,
.category_3:hover .category_text>i,
.category_4:hover .category_text>i,.trending_arrow>i:hover{
  background-position: left bottom;
  color:#fff;
}

.home_page_img2{
  width: 100%;
}

.collection{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 21px 41px;
}

.collection_img1{
  width: 75%;
  position: relative;
  /* border: 1px solid blue; */
}

.collection_img2{
  width: 45%;
  position: relative;
  /* border: 1px solid red; */
}

.collection_img1>img,
.collection_img2>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Trending */

.trending{
  margin: 11px 61px;
}

.trending_div1>h5{
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 15px 0;
}

.trending_div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending_category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 21px;
}

.trending_category>h6{
  font-size: 17px;
  font-weight: 700;
  opacity: 0.6;
  cursor: pointer;
}

.shoes{
  opacity: 1 !important;
  text-decoration: underline;
}

.trending_category>h6:hover{
  opacity: 1;
}

.trending_div2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.trending_div2>img{
  height: 395px;
  cursor: pointer;
}

.trending_arrow{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.hr_25,.hr_67{
  width: 25%;
  height: 3px;
  border: 1px solid transparent;
  background: #000;
}

.hr_67{
  width: 67% !important;
  opacity: 0.1;
}

.trending_arrow>i{
  /* font-size: 27px; */
  padding: 15px 17px;
  margin: 15px 7px;
  cursor: pointer;
}

.trending_arrow>.bi-chevron-left{
  margin-left: 15px;
  opacity: 0.5;
}

/* Scroll Images */
 
.scroll{
  margin: 0;
  width: 100%;
  margin-bottom: 21px;
  overflow: hidden;
}

.scroll_track{
  display: flex;
  gap: 15px;
  width: max-content;
  animation: scrollAnim 21s linear infinite;
}

/* Animation */

@keyframes scrollAnim{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.scroll_track:hover{
  animation-play-state: paused;
}

.scroll_track>img{
  width: 100%;
height: 530px;
cursor: pointer;
}

/* Video */

.video_container {
  position: relative;
  cursor: pointer;
}

.video {
  width: 100%;
  display: block;
}

/* Center Play Button */

.play_btn {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-52%, -50%);
  font-size: 41px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 15px 25px;
  border-radius: 50%;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.last_banner{
  width: 100%;
  margin-top: 25px;
}