@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

/* Navbar */

.phone_navbar_div2{
  display: none;
}

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 21;
  /* border-bottom: 1px solid; */
}

.navbar_div1{
  background-color: #c41d31;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 271px;
  padding: 15px 121px;
}

.navbar_child1{
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 31px;
  cursor: pointer;
}

.navbar_child2{
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: left;
  transition: all 0.25s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.navbar_div2{
  padding-top: 25px;
  padding-bottom: 11px;
  background: #fff;
}

.navbar_child3{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 131px;
  gap: 161px;
}

.navbar_child3>i{
  display: none;
}

.navbar_child4,.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  /* padding-left: 200px; */
}

.icons>i,.search>i,.icons>a>i{
  -webkit-text-stroke: 1px currentColor;
  font-size: 23px;
  cursor: pointer;
}

.search{
  border: 2px solid #e5e5e5;
  padding: 7px 21px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.search>input{
  border: transparent;
}

.search>input::placeholder{
  font-size: medium;
}

.logo_img{
  height: 90%;
  scale: 0.8;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}

.navbar_child5{
  margin-top: 31px;
}

.navbar_category,.navbar_category>li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar_category>li{
  list-style: none;
  gap: 5px;
  align-items: baseline;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 15px;
  cursor: pointer;
}

.navbar_category>.hover-underline-animation::after{
  background-color: #000;
}

.navbar_category>li>a{
  color: #000;
text-decoration: none;
}

.navbar_category>li>i{
  -webkit-text-stroke: 1px currentColor;
  font-size: smaller;
}

/* Home Page */

/* Corusel */

.corusel {
  margin-top: 187px;
  position: relative;
  width: 100%;
  height: 631px;
  overflow: hidden;
}

.corusel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  will-change: transform;
}

/* Buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 11px;
  cursor: pointer;
  font-size: 41px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.home_page_img{
  width: 100%;
  margin: 25px 0;
}

/* Category Section */

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 85%;
  margin: 0 auto;
}

.category_1,
.category_2,
.category_3,
.category_4{
  width: 100%;
  height: 100%;
  padding: 11px 15px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.category_img1,
.category_img2,
.category_img3,
.category_img4{
  border-radius: 15px;
  width: 100%;
  height: 81%;
  overflow: hidden;
}

.category_img1>img,
.category_img2>img,
.category_img3>img,
.category_img4>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.category_1:hover .category_img1>img,
.category_2:hover .category_img2>img,
.category_3:hover .category_img3>img,
.category_4:hover .category_img4>img{
  scale: 1.03;
}

.category_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.category_text>i,.trending_arrow>i{
  border: 1px solid #e5e5e5;
  display: block;
  border-radius: 50%;
  padding: 5px 7.5px;
  object-fit: cover;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  -webkit-text-stroke: 1px currentColor;
}

.category_1:hover .category_text>i,
.category_2:hover .category_text>i,
.category_3:hover .category_text>i,
.category_4:hover .category_text>i,.trending_arrow>i:hover{
  background-position: left bottom;
  color:#fff;
}

.home_page_img2{
  width: 100%;
}

.collection{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 21px 41px;
}

.collection_img1{
  width: 75%;
  position: relative;
  /* border: 1px solid blue; */
}

.collection_img2{
  width: 45%;
  position: relative;
  /* border: 1px solid red; */
}

.collection_img1>img,
.collection_img2>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Trending */

.trending{
  margin: 11px 61px;
}

.trending_div1>h5{
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 15px 0;
}

.trending_div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending_category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 21px;
}

.trending_category>h6{
  font-size: 17px;
  font-weight: 700;
  opacity: 0.6;
  cursor: pointer;
}

.shoes{
  opacity: 1 !important;
  text-decoration: underline;
}

.trending_category>h6:hover{
  opacity: 1;
}

.trending_div2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.trending_div2>img{
  height: 395px;
  cursor: pointer;
}

.trending_arrow{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.hr_25,.hr_67{
  width: 25%;
  height: 3px;
  border: 1px solid transparent;
  background: #000;
}

.hr_67{
  width: 67% !important;
  opacity: 0.1;
}

.trending_arrow>i{
  /* font-size: 27px; */
  padding: 15px 17px;
  margin: 15px 7px;
  cursor: pointer;
}

.trending_arrow>.bi-chevron-left{
  margin-left: 15px;
  opacity: 0.5;
}

/* Scroll Images */
 
.scroll{
  margin: 0;
  width: 100%;
  margin-bottom: 21px;
  overflow: hidden;
}

.scroll_track{
  display: flex;
  gap: 15px;
  width: max-content;
  animation: scrollAnim 21s linear infinite;
}

/* Animation */

@keyframes scrollAnim{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.scroll_track:hover{
  animation-play-state: paused;
}

.scroll_track>img{
  width: 100%;
height: 530px;
cursor: pointer;
}

/* Video */

.video_container {
  position: relative;
  cursor: pointer;
}

.video {
  width: 100%;
  display: block;
}

/* Center Play Button */

.play_btn {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-52%, -50%);
  font-size: 41px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 15px 25px;
  border-radius: 50%;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.last_banner{
  width: 100%;
  margin-top: 25px;
}

.down_navbar{
  display: none;
}

/* End Of Home Page */

/* Men Product Page */

.men_product,.ozark_product,.men_footware_product,.topwear,.women_footware_product{
margin-top: 191px;
}

.men_product>.background_img,.topwear>.background_img{
  background: 
  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(/Utilis/Men_Banner.webp);
  height: 100%;
  border-radius: 15px;
  margin: 0 15px;
  padding: 123px 0;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}

.ozark_product>.background_img,.men_footware_product>.background_img,.women_footware_product>.background_img{
  background: url(/Utilis/Ozark_Banner.webp);
  margin: 0 151px;
  padding: 87.5px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.men_footware_product>.background_img,.women_footware_product>.background_img{
  text-align: center;
  text-transform: capitalize;
  padding: 117px 0;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 41px;
  margin: 0 15px;
  background: url(/Utilis/Men_Footware.jpg);
  background-size: contain;
}

.topwear>.background_img{
  background:  
  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(/Utilis/Mens_Topwear.webp);
  background-size: contain;
  background-position: right;
  padding: 115px 0;
  font-size: 41px;
}

.women_footware_product>.background_img{
  background:
  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/Utilis/Women_Footware.jpg);
}

.filter_sort_div{
  display: flex;
  justify-content: space-between;
  margin: 15px 75px;
  align-items: center;
}

.filter{
  gap: 21px;
}

.filter,.filter_child1{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 11px 13px;
  text-transform: capitalize;
}

.filter>p{
  opacity: 0.7;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.filter_child1{
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
  gap: 11px;
  border: 1px solid #e5e5e5;
  border-radius: 21px;
}

.filter_main_div{
  width: 25%;
}

.filter_child1:hover,.filter_price_button:hover{   
  background-position: left bottom;
  color: #fff;
}

.filter_div,.filter_color,.filter_size,.filter_origin{
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0; 
  margin: 15px 0;
}

.filter_price_button{
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size:  200% 100%;
  background-position: right bottom;
  margin-top: 21px;
  padding: 11px 13px;
  border: 1px solid #e5e5e5;
  border-radius: 21px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.filter>.filter_child1>i,.heart_list>i{
  -webkit-text-stroke: 1px currentColor;
}

.filter>.filter_child1>p{
  font-size: medium;
}

.filter_option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter_option_child{
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter_option input{
  width: 17px;
  height: 17px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  accent-color: #000;
}

.filter_option:hover input{
  border: 2px solid #000;
}

.filter_option_text{
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

.filter_option_text::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.25s ease-in-out;
}

.filter_option:hover .filter_option_text::after{
  transform: scaleX(1);
}

.filter_option:hover span{
  color: #000;
}

.filter_option span{
  text-transform: capitalize;
  font-size: 17px !important;
  text-decoration: none;
  padding: 7px 0 !important;
}

.sort{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}

.sort_list{
  max-width: 221px;
  width: auto;
}

.sort_list>select{
  cursor: pointer;
  font-size: 15px;
  padding: 15px 21px;
  padding-right: 51px;
  border-radius: 25px;
  border:1px solid #e5e5e5;

  appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 25 25' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'><polyline points='6 9 13 15 19 9'/></svg>");
  background-repeat: no-repeat;
  background-position: right 11px center;
}

.sort_list>select>option{
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.men_product_div{
  display: flex;
  justify-content: center;
  align-items: start;
  /* gap: 11px; */
  margin: 0 95px;
}

.filter_price{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 700;
}

.filter_price>p{
  font-size: 19px;
  letter-spacing: 0.1px;
}

.highest_price{
  margin-top: 21px;
  color: gray;
  font-size: 19px;
  text-transform: capitalize;
}

.range_slider{
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 30px;
  background-color: #e5e5e5;
}
.range_slider::before {
  content: "";
  position: absolute;
  left: var(--min);
  right: calc(100% - var(--max));
  height: 100%;
  background-color: #000; 
  z-index: 1;
}

.range_slider input{
  width: 100%;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.range_slider input::-webkit-slider-thumb{
  margin-top: -9px;
  -webkit-appearance: none;
  pointer-events: all;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid;
  cursor: pointer;
}

.range_slider input::-webkit-slider-runnable-track{
  height: 5px;
  background-color: transparent;
}

.price_inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  gap: 7px;
}

.price_box{
  display: flex;
  align-items: center;
  gap: 5px;
}

.price_box input{
  padding: 13px 15px;
  border-radius: 41px;
  border: 1px solid #ddd;
  width: 110px;
  font-size: 17px;
  color: gray;
}

.price_box>span,.filter_price>span{
  color: #000;
  text-decoration: none;
}

.men_product_child2, .ozark_product_div{
  margin: 21px 75px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-content: center;
  gap: 15px;
  transition: all 0.3s ease-in-out;
}

.no_product{
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  padding: 100px 0;
}

.no_product>h2{
  font-size: 31px;
  margin-bottom: 11px;
}

.no_product>p{
  color: gray;
  font-size: 19px;
}

.men_product_card, .ozark_product_card{
  position: relative;
}

.heart_list>i{
  font-size: large;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  padding: 7px;
}

.men_image, .ozark_image{
  width: 100%;
  cursor: pointer;
}

.men_image>img, .ozark_image>img{
  width: inherit;
}

.men_product_info, .ozark_product_info{
  padding: 5px 0;
}

.men_info{
  font-size: medium;
  letter-spacing: 0.3px;
  font-weight: 700;
  cursor: pointer;
  line-height: 25px;
}

.men_new_price, .ozark_new_price{
  color: #c4301c;
  font-weight: 500;
  text-decoration: none;
}

.hover-underline-animation.dark {
  display: inline;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.25s ease-in-out;
}

.hover-underline-animation.dark::after {
  display: none;
}

.hover-underline-animation.dark:hover {
  background-size: 100% 1.3px;
}

/* Men Collection Page End */

/* Ozark Page */

.ozark_category{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin: 25px 0;
  text-transform: capitalize;
  text-align: center;
}

.category_div1,.category_div2,.category_div3{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.category_div1>p,.category_div2>p,.category_div3>p{
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-bottom: 11px;
  z-index: 3;
}

.category_div1>img,.category_div2>img,.category_div3>img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category_div1:hover,
.category_div2:hover,
.category_div3:hover{
  transform: scaleY(0.9) translateY(-11px);
}

.active_filters{
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 21px;
}

.active_filter_btn{
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 11px 15px;
  border-radius: 25px;
  border: 1px solid #e5e5e5;
  background: #fff;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right,#000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.active_filter_btn>i{
  font-size: 19px;
  -webkit-text-stroke: 1px currentColor;
}

.active_filter_btn:hover{
  background-position: left bottom;
  color: #fff;
}

/* Media Query */

@media (max-width:430px){ 
  .navbar_child1,.navbar_child5,.navbar_child3,.prev,.next,.trending_arrow>i,.filter_main_div{
    display: none;
  }
.phone_navbar_div2,.phone_navbar_div2>.navbar_child3,.phone_navbar_div2>.navbar_child3>i{
  display: inline-block;
}
.navbar_div1{
  gap: 0;
  padding: 15px;
}
.navbar_div2{
  margin-top: 7px;
}
.phone_navbar{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 21px;
}
.phone_navbar>i{
  -webkit-text-stroke: 1px currentColor;
  font-size: 31px;
}
.phone_navbar_div2>.navbar_child3{
  padding: 0 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
.corusel,.video{
  height: 271px;
  object-fit: cover;
}
.search{
  margin: 0 11px;
  justify-content: space-between;
  gap: 0;
}
.search>input{
  width: 100%;
}
.category{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.category_p{
 font-size: 13px; 
}
.collection{
  display: grid;
  padding: 31px 15px;
}
.collection_img1,.collection_img2{
  width: 100%;
}
.collection_img1>img{
  height: 75%;
}
.collection_img2{
  margin-top: -101px;
}
.trending{
  margin: 0 15px;
}
.trending_div1{
  flex-direction: column;
  justify-content: left;
  align-items: unset;
}
.trending_category{
  justify-content: left;
  padding-bottom: 15px;
}
.trending_div2{
  overflow-x: scroll;
}
.hr_25, .hr_67{
  margin: 21px 0;
}
.down_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 31px;
}
.home>p,.cart>p,.find>p{
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.home,.cart,.find{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.home>i,.cart>i,.find>i{
    -webkit-text-stroke: 1px currentColor;
font-size: 21px;
}
.men_footware_product,.women_footware_product,.topwear{
  margin-top: 195px;
}
.men_product_div{
  margin: 0 5px;
}
.men_product>.background_img,.ozark_product>.background_img,.men_footware_product>.background_img,.women_footware_product>.background_img,.topwear>.background_img{
  padding: 5px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.men_footware_product>.background_img,.women_footware_product>.background_img,.topwear>.background_img{
  background-size: contain;
  padding: 23px 0;
  margin: 0 11px;
}
.ozark_product>.background_img{
  margin: 0 25px;
  padding: 25px 0;
  height: auto;
  width: 100%;
  background-size: contain;
}
.ozark_product>.background_img>.img_text,.men_footware_product>.background_img>.img_text,.women_footware_product>.background_img>.img_text,.topwear>.background_img>.img_text{
  font-size: 27px;
}
.ozark_category{
  justify-content: unset;
  margin: 25px 5px;
}
.filter_child1{
  background: #ededed;
}
.filter_sort_div{
  margin: 15px !important;
}
.filter{
  flex-direction: column-reverse;
}
.sort{
  display: none !important;
}
.men_product_child2, .ozark_product_div,.men_footware_product,.women_footware_product,.topwear{
  grid-template-columns: repeat(2,1fr);
  margin: 21px 15px;
}
}
  
  @media (max-width:380px){
    .filter_main_div{
      display: none;
    }
    .phone_navbar{
      justify-content: unset !important;
    }
    .men_product,.ozark_product,.men_footware_product,.women_footware_product,.topwear{
      margin-top: 211px;
    }
  }

  @media (min-width: 431px) and (max-width:840px){
    .navbar_child1,.navbar_category,.filter_main_div{
      display: none;
    }
    .navbar_child3>i{
      display: inline-block;
  -webkit-text-stroke: 1px currentColor;
      font-size: 21px;
    }
    .navbar_child3{
      gap: 15px;
      justify-content: center;
      padding: 0 15px;
    }
    .navbar_div1{
      justify-content: center;
      padding: 15px;
    }
    .navbar_div2{
      padding-bottom: 7px;
      /* border: 1px solid; */
    }
    .corusel{
      margin-top: 135px;
    }
    .corusel,.video{
  height: 371px;
  object-fit: cover;
}
.prev,.next{
  padding: 0;
}
.prev{
  left: 5px;
}
.next{
  right: 5px;
}
    .category{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    .collection{
  display: grid;
  padding: 31px 15px;
}
.collection_img1,.collection_img2{
  width: 100%;
}
.collection_img1>img{
  height: 75%;
}
.collection_img2{
  margin-top: -181px;
  }
  .trending{
    margin: 11px 21px;
  }
  .trending_div2{
    overflow-x: scroll;
    justify-content: unset;
  }
  .men_product_div{
    margin: 0 5px;
  }
.men_product>.background_img,.men_footware_product>.background_img,.women_footware_product>.background_img,.topwear>.background_img{
  padding: 47px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.filter_child1{
  background: #ededed;
}
.filter_sort_div{
  margin: 15px !important;
}
.sort{
  display: none !important;
}
.men_product_child2, .ozark_product_div{
  grid-template-columns: repeat(3,1fr);
  margin: 21px 15px;
}
}

@media (min-width: 841px) and (max-width:1440px){
  .navbar_div1{
    padding: 15px 25px;
  }
  .navbar_child3{
    gap: 11px;
    padding-right: 21px;
  }
.men_product>.background_img,.men_footware_product>.background_img,.women_footware_product>.background_img,.topwear>.background_img{
  padding: 73px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.filter_sort_div,.men_product_child2, .ozark_product_div{
  margin: 15px 21px !important;
}
}